body {
  background-color: rgb(252, 252, 243);
  width: 100%;
  height: 100vh;
}

h4,
h5 {
  margin: 0;
  padding: 0;
}

.to-do-section {
  background-color: white;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.refresh-btn,
.task-btn,
.delete-btn {
  border: none;
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
}

.refresh-icon,
.enter-key-icon,
.more-icon {
  color: gray;
  font-size: 24px !important;
}

.enter-key-icon{
  font-size: 16px !important;
}

.task-input {
  border: none;
  font-style: italic;
  width: 95%;
}

.edit-input {
  border: none;
  width: 95%;
  padding-bottom: 2px;
}

*:focus {
  border: none;
  outline: none;
  background-color: white;
}

.task-container {
  display: flex;
  justify-content: space-between;
  cursor: grab;
}

.check-container {
  display: flex;
  align-items: center;
}

.check-box {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.padding-l-r {
  padding-left: 10px;
  padding-right: 10px;
}

.clear-btn {
  text-align: center;
  border: none;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

.hr-ignore-btm {
  margin-bottom: 0;
}

form {
  display: flex;
}

#to-do-list {
  text-align: center;
}
